<!--The content below is only a placeholder and can be replaced.-->


<h1>{{title}}</h1>
<ul class="manufacturers">
  <li *ngFor="let manufacturer of manufacturers"
      [class.selected]="manufacturer === selectedManufacturer"
      (click)="onSelect(manufacturer)">
    {{manufacturer.name}}
  </li>
</ul>
<div>{{name}}</div>
<div *ngIf="selectedManufacturer">
  <h2>{{selectedManufacturer.name}} details!</h2>
  <!--<div>-->
  <!--<label>name: </label>{{selectedManufacturer.details.marketName}} </div>-->
</div>
<agm-map [latitude]="lat" [longitude]="lng"[zoom]="zoom">
  <agm-marker [latitude]="latMark" [longitude]="lngMark" ></agm-marker>
</agm-map>

